<input type="checkbox" id="modal">
<label for="modal" class="modal-label">?</label>
<label for="modal" class="modal-background"></label>
<section class="modal">
  <div class="modal-header"><h3> Advantage Determination</h3></div>
  <div class="modal-content">
  <p>During the Advantage Determination Phase, determine which player
    will be the Advantage player and which will be the Disadvantage
    player for the entire Battle Cycle. The Advantage player has the
    benefit of performing various actions before the Disadvantage player
    can do so.</p>

  <h4> In the First Advantage Determination Phase of an Operation:</h4>

  <ol>
    <li>If the Operational Intelligence Condition is Ambush (or AmbushCV), the Reaction player is automatically the Advantage player.</li>
    <li>If the Operational Intelligence Condition is Surprise Attack, the Operation player is automatically the Advantage player.</li>
  </ol>

  <h4>In the Second and Subsequent Advantage Determination Phases of an Operation</h4>
  <p>
    Each player rolls the die and applies the following modifications to
    the die rolls:
  </p>
  <ol>
    <li>If the Operational Intelligence Condition is Ambush (or AmbushCV), the Reaction player adds 2 to his die roll.</li>
    <li>If the Operational Intelligence Condition is Surprise Attack, the Operation player adds 2 to his die roll. </li>
    <li>If the Operational Intelligence Condition is Intercept there is no die roll modifier. </li>
    <li>The player with the higher modified die roll is the Advantage player. If both players have the same result after applying modification, the Operation player is the Advantage player.</li>
  </ol>
  </div>
</section>
