<input type="checkbox" id="modal">
<label for="modal" class="modal-label">?</label>
<label for="modal" class="modal-background"></label>
<section class="modal">
  <div class="modal-header"><h3>Bombardment</h3></div>
  <div class="modal-content">
    <p>During the Bombardment Phase, players can perform Bombardment
      with any Task Force occupying a shoreline hex that contains no enemy naval unit. Bombardment can be used against any ground unit
      or Base unit in the hex.</p>
    <p>To perform Bombardment, the player reveals whatever naval units
      he plans to use (that have Bombardment Strengths on their counters)
      and the target player reveals whatever ground units he has in the hex.
      The bombarding player fires each of his units individually at any
      target he wishes. He can fire at a target more than once, but no ground
      unit can be forced to make more than one Troop Quality Check per
      Bombardment Phase.</p>
    <p>Refer to the Air/Naval Combat Results Table, using the firing unit’s
      Bombardment Strength and either the Bombardment versus Installation (for Base unit) or Bombardment versus Ground Unit line,
      whichever is appropriate.</p>
  </div>
</section>
