<input type="checkbox" id="modal">
<label for="modal" class="modal-label">?</label>
<label for="modal" class="modal-background"></label>
<section class="modal">
  <div class="modal-header"><h3>Deactivation</h3></div>
  <div class="modal-content">
    <p>During the last Joint Activation/Deactivation Phase of most Battle
      Scenarios, a Task Force in a friendly port or anchorage (Atoll or Restricted Water hex that contains no enemy naval units) is Deactivated.
      Ground units can be Deactivated in any land hex. Air units can be
      Deactivated in any friendly Airbase whether linked or not.
      Deactivation is not required for units in Engagement Scenarios.
      Units Deactivated as a result of combat remain Deactivated for the
      rest of the Battle or Engagement scenario.
      <strong>Note</strong>: See Activation (20.0) for details on both Activation and Deactivation in Campaign and Strategic scenarios.</p>
    <h4>Ground Unit Withdrawal</h4>
    <p>
      As an exception to the rule that ground units cannot exit an enemyoccupied hex, ground units that are not being Sieged can do so by
      Deactivating (rendering them unable to move or initiate combat), and
      only during the Joint Activation/Deactivation Phase.</P>
    <p>When a ground unit Deactivates during this phase in an enemyoccupied hex, it can be re-embarked on Amphibious Transports or
      moved into a neighboring hex that is not enemy-occupied and does
      not contain an Entry Hexside marker pointed in the opposite direction.
      All units in a hex which withdraw during the same phase must enter
      the same hex.</p>
    <p>Each time one or more units withdraws; each is immediately Deactivated and the group loses one ground step (if all units are un-Broken)
      or three ground steps (if any unit in the group is Broken).
      All units in a hex need not withdraw at once, but each time one or
      more units exit a hex, the losses are assessed again.
      Units under siege cannot withdraw.</p>
  </div>
</section>
