<input type="checkbox" id="modal">
<label for="modal" class="modal-label">?</label>
<label for="modal" class="modal-background"></label>
<section class="modal">
  <div class="modal-header"><h3>Demolition</h3></div>
  <div class="modal-content">

    <p>Any Linked, Unbroken ground unit can attempt Demolition against a
      Base unit or Co-Prosperity Sphere Resource hex during the Demolition Phase. The ground unit must begin the phase in the hex and no
      enemy ground unit can occupy the hex. A Base unit can attempt to
      Demolish itself and uses its Troop Quality rating to determine its
      success.</p>
    <p>To attempt Demolition, the unit must pass a Troop Quality Check.
      If the unit passes the Check, the Demolition is successful; if the unit
      fails the Check, the Demolition has no effect.</p>
    <p>A successful Demolition against a Base unit eliminates the unit. A
      success against a Co-Prosperity Sphere hex demolishes the hex; place
      a Demolished marker in that hex.</p>
    <p>Only one Demolition attempt can be made per hex in a single Demolition Phase.</p>
  </div>
</section>
