<input type="checkbox" id="modal">
<label for="modal" class="modal-label">?</label>
<label for="modal" class="modal-background"></label>
<section class="modal">
  <div class="modal-header"><h3>Lighting Conditions</h3></div>
  <div class="modal-content">
    <p>At the beginning of each Battle Cycle, the players determine what Lighting Conditions will be in effect for the
      entire Cycle. The Lighting Condition will affect Air Missions, Naval Combat Phase and Search.</p>

    <h4>In the First Lighting Phase of an Operation</h4>

    <ol>
      <li>If the Operational Intelligence Condition is Ambush (or AmbushCV), the Reaction player places the Lighting Condition marker in
        any section of the Lighting Condition Display at his discretion.</li>
      <li>If the Operational Intelligence Condition is Intercept or Surprise
        Attack, the Operation player can place the Lighting Condition
        marker in any section of the Lighting Condition Display at his
        discretion. <strong>Note</strong>: The Operation Player can preserve the option to affect the Lighting
        condition to use at a later time, if he wishes. He is not obligated to use
        it in the first Battle Cycle of the Operation. See below.
      </li>

      <li>If neither player selects a Lighting Condition, refer to the Random
        Determination portion of the Lighting Condition Display, roll the
        die, and place the Lighting Condition marker in the portion specified.</li>

    </ol>

    <h4>In the Second and Subsequent Lighting Phases of an Operation</h4>


    <ol>
      <li>If the Operation player has not yet used his once-per-Operation
        option, he can move the Lighting Condition marker 2 spaces
        clockwise on the Lighting Condition Display.</li>
      <li>If the Operation player has used his option or chooses not to use it
        at this time, move the Lighting Condition marker 1 space clockwise
        on the Lighting Condition Display.</li>
      <li>Any time the Lighting Condition marker enters the Random
        Determination portion of the Lighting Condition Display (even if
        the Operation player uses his option to place it there), immediately
        roll the die, and place the marker in the portion specified by the
        die roll.</li>

    </ol>

    <h4>Lighting Condition Effects on Air Missions</h4>

    Day Lighting Conditions (either A.M. or P.M.) have no effect on the
    game in any way.
    Dusk and Night Lighting Conditions have the following effects on
    Air Missions:


    <ol>
      <li>Dusk Lighting Conditions require that all units flying Air Missions
        (not CAP) must conduct a Dusk Landing Procedure at the
        conclusion of the Air Mission. The owning player rolls the die
        for each air unit individually. If the die roll is more than 3 times
        the Status Level of the unit, the unit loses one step; if the die roll
        is 3 times the Status Level or less, there is no effect on the unit.</li>
      <li>Night Lighting Conditions prohibit any Air Missions except the
        following:
        <ol>
          <li>Japanese T-L2 units can conduct Air Strikes against Task Forces
            (only);</li>
          <li>US (not other Allied) F-L2 units can be Alerted and conduct
            CAP against such a Japanese Strike in the Target hex (no
            interception)</li>
          <li>In both of these cases, the Anti-Naval Strength of the Japanese
            units and the Anti-Air Strength of the Allied units are halved
            when resolving combat (round down).</li>
          <li>The two Allied F Night Fighters can fly at Night
            with no penalties to landing or combat.</li>
        </ol>
      <li>Flak Strengths are halved at night.</li>
    </ol>
    <h4>Lighting Condition Effects on Flak Combat</h4>

    <p>All Anti-Air Strengths used in conducting Flak Combat are halved
      when the Lighting Condition is Night.
      Day and Dusk Lighting Conditions have no effect on Flak Combat.</p>

    <h4>Lighting Condition Effects on Naval Combat</h4>

    <p>When determining the Range at the beginning of a Naval Combat
      Cycle, use the Day/Dusk or Night column of the Range Determination
      Table (see Operation Display).
      In subsequent Naval Combat Phases, using the Range Bid Chart. Long
      Range can never be bid during Night Lighting Conditions.</p>

    <h4>Lighting Condition Effects on Search</h4>

    <p>When conducting a Search during Day, Dusk, or a Contact Phase,
      use the Day portion of the Search Chart.
      Use the Night portion of the Search Chart only when conducting a
      Search during Night Lighting Conditions.</p>
  </div>
</section>
