<input type="checkbox" id="modal">
<label for="modal" class="modal-label">?</label>
<label for="modal" class="modal-background"></label>
<section class="modal">
  <div class="modal-header"><h3>Rally</h3></div>
  <div class="modal-content">

    <p>All un-isolated (12.2) Broken units in a hex containing no enemy
      ground units during the Rally Phase can attempt to Rally, simply by
      passing a Troop Quality Check. As in calculating Ground Combat,
      only one Broken unit’s Troop Quality is used for all Broken ground
      units in the hex.</p>
    <p><strong>Reminder</strong>: The Broken unit whose Troop Quality is used for the Check
      has its Troop Quality halved (round up).</p>

    <p>A player can attempt to Rally units in any number of eligible hexes
      each Rally Phase, but no more than one Rally attempt per phase can
      be made in a given hex. If the Rally succeeds, remove the Broken
      marker. If the Rally fails, leave the Broken marker where it is and
      Deactivate the unit.</p>
  </div>
</section>
