<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pacific War</title>
  </head>
  <body>
    <!-- <noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript> -->
    <!-- <script src="./bootstrap.js"></script> -->

    <h1>Pacific War</h1>
    <form id="battle">
      <label for="player1">Start date</label>
      <input type="date" id="start_date" name="start_date" value="1942-05-01">
      <label for="player2">Duration</label>
      <input type="number" id="duration" name="duration" value="21">
      <button type="submit">Start Battle</button>
    </form>
  </body>
</html>
