{{#*inline "page"}}
<div class="battle-cycle">
  {{> battle_cycle/common }}
  <form method="POST" action="/battle/{{battle_id}}/advantage_determination">
    <button class="next" type="submit">Select advantage</button>
  </form>
  {{> battle_cycle/rules/advantage_determination }}
</div>
{{/inline}}
{{> (lookup this "parent")}}
