{{#*inline "page"}}
<div class="battle-cycle">
  {{> battle_cycle/common }}

  <form action="/battle/{{battle_id}}/next">
    <button class="next" type="submit">Next</button>
  </form>
  {{> battle_cycle/rules/bombardment }}
</div>
{{/inline}}
{{> (lookup this "parent")}}
