  <h2>Battle Cycle #{{cycle.count}}</h2>
  <div>
    <form>
      <div>
        <label for="segment">Segment</label>
        <input type="text" readonly name="segment" value="{{cycle.phase}}"/>
      </div>
      <div>
        <label for="lighting_condition">Lighting condition</label>
        <input type="text" readonly name="lighting_condition" value="{{cycle.lighting_condition}}"/>
      </div>
      <div>
        <label for="advantage_player">Advantage player</label>
        <input type="text" readonly name="advantage_player" value="{{cycle.advantage_player}}"/>
      </div>
    </form>
  </div>
