{{#*inline "page"}}
<div>
  {{> battle_cycle/common }}

  <form action="/battle/{{battle_id}}/next">
    <button class="next" type="submit">Next</button>
  </form>
</div>
{{/inline}}
{{> (lookup this "parent")}}
