{{#*inline "page"}}
<div>
  <h2>Battle Cycle</h2>
  <h3>Lighting</h3>
  <form>
    <button class="next" type="submit" formaction="/battle/{{battle_id}}/next">Next</button>
  </form>
</div>
{{/inline}}
{{> (lookup this "parent")}}
