{{#*inline "page"}}
<div class="battle-cycle">
  {{> battle_cycle/common }}

  <form method="POST" action="/battle/{{battle_id}}/set_lighting">
    {{#if choose}}
    <div>
      {{#if reaction_choose}}
      <label for="lighting">Reaction player choose lighting</label>
      {{else}}
      <label for="lighting">Operation player choose lighting</label>
      {{/if}}
      <select id="lighting" name="lighting">
        <option value="DayAM">Day AM</option>
        <option value="DayPM">Day PM</option>
        <option value="Dusk">Dusk</option>
        <option value="Night">Night</option>
      </select>
    </div>
    <button type="submit" name="set_lighting" value="choose">Set</button>
    {{else}}
      {{#if operation_advance}}
      <button type="submit" name="set_lighting" value="operation_advance">Advance lighting 2 steps</button>
      {{/if}}
    {{/if}}
    <button class="next" type="submit" name="set_lighting" value="advance">Advance lighting</button>
   </form>
  {{> battle_cycle/rules/lighting }}
</div>
{{/inline}}
{{> (lookup this "parent")}}
