.nunito-sans-title {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    padding: 20px 5%;
    font-family: "Nunito Sans", sans-serif;
}

h1 {
    color: red;
    text-shadow: -1px 0  #fff, 0 1px  #fff, 1px 0  #fff, 0 -1px  #fff;
    font-weight: 900;
    font-style: normal;
    font-size: 300%;
    text-align: center;
}


.operation {
   background-image: url('/public/battle_bw.jpeg');
   padding: 10px;
}

.combat {
    padding: 10px;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}


.DayPM {
    background-image: url('/public/day-pm.jpeg');
}

.DayAM {
   background-image: url('/public/day-am.jpeg');
   color: #eea;
}

.Dusk {
   background-image: url('/public/dusk.jpeg');
   color: white;
}

.Night {
   background-image: url('/public/night.jpeg');
    color: white;
}

form header {
    margin: 0 0 20px 0;
}
form header div {
    font-size: 90%;
    color: #999;
}
form header h2 {
    margin: 0 0 5px 0;
}
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
fieldset {
    border: thin solid black;
}

form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label{
	  width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
	  font-size: 90%;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=password] {
    width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}

button  {
    margin: .5em;
    width: 90%;
    padding: 0.8rem;
    background: #4697e4;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
}

button.next {
    background: #f00;
}

/*
 Accordion CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
}

.accordion > .handle > label {
  cursor: pointer;
  padding: 15px;
}

.accordion label:hover,
.accordion label:focus {
  background: rgba(200, 200,200, .50) ;
}

.accordion .handle label:before {
    content: "\25b6";
    display: inline-block;
    margin-right: 10px;
    font-size: .48em;
    line-height: 1em;
    vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
    content: "\25bc";
}

@media (max-width: 600px) {
    body {
        padding: 10px 3%;
    }
    h1 {
        font-size: 200%;
    }

    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
	      width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    input[type=number],
    textarea,
    select {
        width: 100%;
    }
}

@media (600px < width < 1200px) {
    form > div > label{
  	    text-align: right;
    }

    button {
        width: 40%;
    }
}


@media (width >= 1200px) {
    form > div > label {
  	    text-align: right;
    }

    button {
        width: 20%;
    }
}
