* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 20px 5%;
}

.combat {
    padding: 5px;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.DayPM {
    background-image: url('/public/day-pm.jpeg');
}

.DayAM {
   background-image: url('/public/day-am.jpeg');
}

.Dusk {
   background-image: url('/public/dusk.jpeg');
}

.Night {
   background-image: url('/public/night.jpeg');
    color: white;
}

form header {
    margin: 0 0 20px 0;
}
form header div {
    font-size: 90%;
    color: #999;
}
form header h2 {
    margin: 0 0 5px 0;
}
form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
fieldset {
    border: thin solid black;
}

form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label{
	  width: 25%;
    float: left;
    padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
    width: 75%;
    float: right;
}
form > div > fieldset label {
	  font-size: 90%;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=password] {
    width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}

button  {
    margin: .5em;
    width: 90%;
    padding: 0.8rem;
    background: #4697e4;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    border: none;
}

button.next {
    background: #f00;
}

@media (max-width: 600px) {
    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
	      width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
        width: 100%;
    }
}

@media (600px < width < 1200px) {
    form > div > label{
  	    text-align: right;
    }

    button {
        width: 40%;
    }
}


@media (width >= 1200px) {
    form > div > label {
  	    text-align: right;
    }

    button {
        width: 20%;
    }
}
