div.positions {
  background: url('assets/carte.png') no-repeat;
  width: 3000px;
  height: 2000px;
  float: left;
  position: relative;
}

div.russian {
  text-align: center;
  width: 600px;
  height: 2000px;
  border: 3px solid red;
  top: 10px;
  left: 3000px;
  float: right;
}

div.german {
  text-align: center;
  width: 600px;
  height: 2000px;
  border: 3px solid green;
  top: 10px;
  left: 3650px;
  float: right;
}

.hex {
  width: 133px;
  height: 133px;
  position: absolute;
  text-align: center;
}
